<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Librarypro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Librarypro.Properties.Settings.LibraryConnectionString"
            connectionString="Data Source=.;Initial Catalog=Library;User ID=sa;Password=532582"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <Librarypro.Properties.Settings>
            <setting name="aaaaaa" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </Librarypro.Properties.Settings>
    </applicationSettings>
</configuration>